{#-
  Use pipe as page title separator
  Add css and javascripts via page metadata
-#}
{% extends "base.html" %}

{% block htmltitle %}
    {% if page.meta and page.meta.title %}
    <title>{{ page.meta.title }} | {{ config.site_name }}</title>
    {% elif page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }} | {{ config.site_name }}</title>
    {% else %}
    <title>{{ config.site_name }}</title>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {% if page.is_page %}
    {% for path in page.meta.extra_css %}
        <link rel="stylesheet" href="{{ path | url }}">
    {% endfor %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if page.is_page %}
    {% for script in page.meta.extra_javascript %}
        {{ script | script_tag }}
    {% endfor %}
    {% endif %}
{% endblock %}