<div id="hero-container" class="md-typeset">
  <div id="hero-bg" aria-hidden="true" role="presentation">
    <img alt="Calligram of Castelvetro" src="assets/images/Castelvetro.svg">
    <img alt="Calligram of Caro" src="assets/images/Caro.svg">
  </div>
  <section id="hero">
    <h1>A <span class="emph">Contro</span>versy-Oriented Model of Dialectical Perspectives</h1>
    <div class="md-button" aria-hidden="true" role="presentation" onclick='document.getElementById("quotes").scrollIntoView({ block: "center", behavior: "smooth"})' data-search-exclude>Let's argue</div>
</section>
</div>