/* Translation tabs */
.tabbed-block {
  margin-top: 2em;
}

/* Notes are rendered inside cards */
.note div:first-child {
  margin-top: 0.3rem;
}

.syllogism {
  border: .05rem solid var(--md-default-fg-color--lightest);
  border-radius: 1rem;
  margin: 1rem;
  padding: .8rem;
  transition: border .25s,box-shadow .25s;
}

.syllogism:hover {
  border-color: #0000;
  box-shadow: var(--md-shadow-z2);
}

/* Argument lists */
.md-typeset .syllogism ul li p {
  margin: 0;
}

.md-typeset .syllogism ul {
  margin: .625em;
}

.md-typeset .syllogism ul li {
  list-style-type: "🅟  ";
}

.md-typeset .syllogism ul li:last-child:nth-child(n+3) {
  list-style-type: "🅒  ";
}

.note:before {
  content: "🅟 = Premise\0009\0009🅒 = Conclusion";
  color: var(--md-default-fg-color--light);
  font-size: .64rem;
  margin-left: 1.5rem;
  white-space: pre;
  margin-bottom: 0;
}

/* Quoted premises */
.md-typeset .syllogism li p a {
  --md-typeset-a-color: var(--md-default-fg-color--light);
  font-weight: 400;
}

.md-typeset .syllogism li p a:before {
  content: "«";
}

.md-typeset .syllogism li p a:after {
  content: "»";
}

/* In-text glosses */
:not(.note) > [ana="#disputed-words"] {
  text-decoration: line-through var(--md-secondary-fg-color--transparent) 1.3em;
  cursor: help;
}

/* In-text references */
[data-md-color-scheme="default"] .q {
  --md-typeset-a-color: var(--md-secondary-fg-color);
  --md-accent-fg-color: var(--md-secondary-fg-color--hover);
}

[data-md-color-scheme="slate"] .q {
  --md-typeset-a-color: var(--md-secondary-fg-color--light);
  --md-accent-fg-color: var(--md-secondary-fg-color--light-hover);
}

/* Related interpretation passages are dynamically highlighted */
[ana*="#cv"], [ana*="#cr"], [ana="#premise"], [ana="#conclusion"], p:has([href*="#cv"]), p:has([href*="#cr"]) {
  position: relative;
  background-image: linear-gradient(to right, transparent 50%, var(--md-primary-fg-color--light) 50%);
  background-origin: 0;
  background-size: 200% 100%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.5s ease-out;
  cursor: pointer;
  text-decoration: underline dotted var(--md-default-fg-color--lighter);
  text-underline-offset: 5px;
}

.syllogism li p {
  display: inline-flex;
}

a[href*="#cv"], a[href*="#cr"] {
  pointer-events: none;
}

.shown {
  background-position: -100% 100% !important;
}

/* Special layout of TEI titles and lists */
.md-typeset .tabbed-block dd {
  margin-bottom: 0.5em;
  margin-top: 0;
}

.tabbed-block h2 {
  margin-bottom: 0.2rem;
}

.tabbed-block h2 + p {
  margin-top: 0;
  font-style: italic;
}

.tabbed-block a {
  font-weight: 500;
}

.tabbed-block ol[type="1"] > li::marker {
    content: counter(list-item) "     ";
    font-size: small;
    color: var(--md-default-fg-color--lighter);
}

.tabbed-block ol[type="I"] > li::marker {
    content: counter(list-item, upper-roman) " ";
    font-size: small;
    color: var(--md-default-fg-color--lighter);
}

.tabbed-block ol[type="I"] {
  margin-left: 0;
}

.tabbed-block ol[type="1"] > li {
  margin-bottom: 0;
}