/* Argument cards */
.paraphrase:before {
  content: "🅟 = Premise        🅡 = Inference Rule        🅒 = Conclusion";
  color: var(--md-default-fg-color--light);
  font-size: .64rem;
  margin-left: 1.5rem;
  white-space: pre;
  margin-bottom: 0;
}

.paraphrase div:first-child {
  margin-top: 0.3rem;
}

.syllogism {
  border: .05rem solid var(--md-default-fg-color--lightest);
  border-radius: 1rem;
  margin: 1rem 2rem 1rem 0;
  padding: .8rem .8rem .8rem 1.2rem;
  transition: border .25s,box-shadow .25s;
}

.syllogism:hover {
  border-color: #0000;
  box-shadow: var(--md-shadow-z2);
}

.syllogism:before {
  content: "Argument " attr(id);
  color: var(--md-default-fg-color--lighter);
  font-variant-caps: all-small-caps;
  font-size: .9rem;
  font-weight: 600;
}

/* Argument lists */
.md-typeset .syllogism ul {
  margin: .625em;
}

[dir="ltr"] .md-typeset .syllogism ul li {
  margin-left: .8em;
}

.md-typeset .syllogism ul li:has([ana="#premise"]) {
  list-style-type: "🅟  ";
}

.md-typeset .syllogism ul li:has([ana="#rule"]) {
  list-style-type: "🅡  ";
}

.md-typeset .syllogism ul li:has([ana="#conclusion"]) {
  list-style-type: "🅒  ";
}

.md-typeset .syllogism ul li p {
  text-wrap: pretty;
  margin: 0;
}

.md-typeset .syllogism ul li p > .label,
.md-typeset .syllogism ul li p > .against {
  color: var(--md-default-fg-color--lighter);
  font-style: normal;
  font-variant-caps: all-small-caps;
  font-weight: 600;
}

.md-typeset .syllogism ul li p > .label {
  padding-right: .1rem;
}

.md-typeset .syllogism ul li p > .against {
  padding-left: .1rem;
}

.md-typeset .syllogism ul li p[ana="#premise"] > .against,
.md-typeset .syllogism ul li p[ana="#rule"] > .against {
  display: none;
}

/* Quoted premises */
.md-typeset .syllogism a.prop {
  --md-typeset-a-color: var(--md-default-fg-color--light);
  font-weight: 400;
  font-style: italic;
}

/* In-text glosses */
.md-typeset span[ana="#disputed-words"] {
  position: relative;
}

.md-typeset span[ana="#disputed-words"]:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--md-secondary-fg-color--transparent);
  border-radius: .2rem;
  cursor: help;
}

/* In-text references */
[data-md-color-scheme="default"] .q {
  --md-typeset-a-color: var(--md-secondary-fg-color);
  --md-accent-fg-color: var(--md-secondary-fg-color--hover);
}

[data-md-color-scheme="slate"] .q {
  --md-typeset-a-color: var(--md-secondary-fg-color--light);
  --md-accent-fg-color: var(--md-secondary-fg-color--light-hover);
}

.md-typeset .q:not(a) {
  color: var(--md-default-fg-color--light);
}

/* Related interpretation passages are dynamically highlighted */
.md-typeset span[ana^="#s"],
.md-typeset .syllogism ul li p:not(.absent, [ana="#rule"]) > .prop {
  background-image: linear-gradient(to right, transparent 50%, var(--md-primary-fg-color--light) 50%);
  border-radius: .2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-clip: content-box;
  background-size: 200% 100%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.5s ease-out;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--md-default-fg-color--lighter);
  text-underline-offset: 5.5px;
  user-select: text;
}

.md-typeset span:focus,
.md-typeset .syllogism ul li:focus,
.md-typeset .syllogism ul li p:focus,
.md-typeset .syllogism ul li p span:focus,
.md-typeset .syllogism ul li p:has(span:focus) {
  outline: none !important;
}

.md-typeset span[ana^="#s"], .md-typeset .syllogism ul li p:not(.absent, [ana="#rule"]) {
  cursor: pointer;
}

.md-typeset a.prop {
  pointer-events: none;
}

.md-typeset span.marked,
.md-typeset ul li p.marked > .prop {
  background-position: -100% 100% !important;
}

/* Special layout of TEI titles and lists */
.tabbed-block h2 {
  font-size: 1.8em;
  color: var(--md-default-fg-color--light);
  line-height: 1.3;
  margin-bottom: .2rem
}

.tabbed-block h2 + .subtitle {
  font-size: 1.4em;
  opacity: .85;
}

.md-typeset .tabbed-block dd {
  margin-bottom: 0.5em;
  margin-top: 0;
}

.tabbed-block h3 {
  line-height: 1.4;
  margin-bottom: 0.2rem;
}

.subtitle {
  margin: 0 0 .5rem;
  font-family: var(--md-serif-font-family);
  color: var(--md-default-fg-color--light);
}

.tabbed-block h3 + p:not(.subtitle), .subtitle + p {
  margin-top: 0;
  font-style: italic;
}

.tabbed-block ol[type="1"] > li::marker {
    content: counter(list-item) "     ";
    font-size: small;
    color: var(--md-default-fg-color--lighter);
}

.tabbed-block ol[type="I"] > li::marker {
    content: counter(list-item, upper-roman) " ";
    font-size: small;
    color: var(--md-default-fg-color--lighter);
}

.tabbed-block ol[type="I"] {
  margin-left: 0;
}

.tabbed-block ol[type="1"] > li {
  margin-bottom: 0;
}

/* Expandable poem */
[dir="ltr"] .md-typeset details {
  all: unset;
  display: block;
  position: relative
}

[dir="ltr"] .md-typeset summary {
  all: unset;
  cursor: pointer;
  font-weight: 600;
  display: block;
  padding-left: 1.3rem;
  height: 1em;
  line-height: 1.5;
  color: var(--md-typeset-color);
  transition: opacity .25s;
}

.md-typeset summary:hover {
  opacity: .7;
}

[data-md-color-scheme=default] {
  --calm-face: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M479.5-262.31q32.42 0 63-14.23t55.27-34.92q9.92-7.92 10.31-19.04.38-11.12-9.04-19.04t-20.54-7.04q-11.12.89-21.27 8.81-16.54 12.54-36.33 20.81t-41 8.27q-21.21 0-40.9-8.27-19.69-8.27-36.23-20.81-10.15-7.92-20.77-8.81-10.62-.88-19.54 7.04T352.92-331q-.61 10.62 8.31 18.54 24.69 21.46 55.27 35.81 30.58 14.34 63 14.34ZM480.13-88q-81.31 0-152.89-30.86-71.57-30.86-124.52-83.76-52.95-52.9-83.83-124.42Q88-398.55 88-479.87q0-81.31 30.86-152.89 30.86-71.57 83.76-124.52 52.9-52.95 124.42-83.83Q398.55-872 479.87-872q81.31 0 152.89 30.86 71.57 30.86 124.52 83.76 52.95 52.9 83.83 124.42Q872-561.45 872-480.13q0 81.31-30.86 152.89-30.86 71.57-83.76 124.52-52.9 52.95-124.42 83.83Q561.45-88 480.13-88ZM480-480Zm0 326q136 0 231-95t95-231q0-136-95-231t-231-95q-136 0-231 95t-95 231q0 136 95 231t231 95ZM343.71-482.31q32.79 0 58.09-20.2 25.29-20.21 38.28-51.11 4.69-10.61 0-21.11-4.7-10.5-16.61-13.73-10.09-3.23-20.24 3.34-10.15 6.58-15.85 15.97-6.1 12.72-17.56 22.09-11.46 9.37-25.97 9.37-14.74 0-26.32-9.29-11.57-9.28-18.22-23.4-4.69-9.39-13.96-15.35-9.27-5.96-19.36-2.73-11.91 3.23-16.99 13.73-5.08 10.5-.38 21.11 13.23 30.93 37.76 51.12 24.54 20.19 57.33 20.19Zm272.31 0q32.79 0 58.08-20.2 25.3-20.21 38.28-51.11 4.7-10.61 0-21.11-4.69-10.5-16.6-13.73-10.09-3.23-20.24 3.34-10.16 6.58-15.85 15.97-6.1 12.72-17.56 22.09-11.46 9.37-25.98 9.37-14.73 0-26.31-9.29-11.58-9.28-18.22-23.4-4.7-9.39-13.97-15.35-9.27-5.96-19.35-2.73-11.92 3.23-16.99 13.73-5.08 10.5-.39 21.11 13.23 30.93 37.77 51.12 24.54 20.19 57.33 20.19Z"/></svg>');
  --angry-face: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480.13-88q-81.67 0-152.91-30.84-71.23-30.84-124.36-83.92-53.13-53.08-83.99-124.26Q88-398.19 88-479.87q0-81.67 30.84-153.41 30.84-71.73 83.92-124.86 53.08-53.13 124.26-83.49Q398.19-872 479.87-872q81.67 0 153.41 30.34 71.73 30.34 124.86 83.42 53.13 53.08 83.49 124.76Q872-561.81 872-480.13q0 81.67-30.34 152.91-30.34 71.23-83.42 124.36-53.08 53.13-124.76 83.99Q561.81-88 480.13-88Zm-.13-66q136 0 231-95t95-231q0-136-95-231t-231-95q-136 0-231 95t-95 231q0 136 95 231t231 95Zm140.31-333.38q22.59 0 38.6-16.02 16.01-16.01 16.01-38.6 0-16.46-8.88-30.15-8.89-13.7-25.66-19.62l20.77-12.15q8.7-4.46 11.31-13.93 2.62-9.46-1.84-18.15-4.47-8.69-15.7-11.69T635-646.23l-87.54 50q-8.69 5.23-11.69 16.69t6.97 28.16q2.72 4.69 8.57 6.3 5.84 1.62 10.54-.84l4.61-3.08q-4.38 25.15 11.77 43.38 16.15 18.24 42.08 18.24Zm-280.62 0q25.93 0 42.08-18.24 16.15-18.23 11.77-43.38l5.38 3.08q4.7 2.46 11.16-1.04t13.18-15.19q4.97-8.7 1.86-19.16-3.12-10.46-11.81-14.92l-90.08-51q-8.69-5.23-19.04-1.73-10.34 3.5-14.81 12.19-4.46 8.69-1.84 19.04 2.61 10.35 11.31 14.81l20.77 11.15q-16.77 5.92-25.66 19.62-8.88 13.69-8.88 30.15 0 22.59 16.01 38.6 16.01 16.02 38.6 16.02ZM480.17-438q-67.17 0-117.36 44.08-50.19 44.07-67.66 109.3h369.7q-17.47-65.23-67.49-109.3Q547.34-438 480.17-438Zm-.17-42Z"/></svg>');
}

[data-md-color-scheme=slate] {
  --calm-face: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M479.5-262.31q32.42 0 63-14.23t55.27-34.92q9.92-7.92 9.81-18.54-.12-10.62-9.54-18.54T578-356.08q-10.62.39-20.77 8.31-16.54 12.54-36.33 20.81t-41 8.27q-21.21 0-40.9-8.27-19.69-8.27-36.23-20.81-10.15-7.92-21.27-8.81-11.12-.88-20.04 7.04T352.42-331q-.11 10.62 8.81 18.54 24.69 21.46 55.27 35.81 30.58 14.34 63 14.34ZM480.13-88q-81.31 0-152.89-30.86-71.57-30.86-124.52-83.76-52.95-52.9-83.83-124.42Q88-398.55 88-479.87q0-81.31 30.86-152.89 30.86-71.57 83.76-124.52 52.9-52.95 124.42-83.83Q398.55-872 479.87-872q81.31 0 152.89 30.86 71.57 30.86 124.52 83.76 52.95 52.9 83.83 124.42Q872-561.45 872-480.13q0 81.31-30.86 152.89-30.86 71.57-83.76 124.52-52.9 52.95-124.42 83.83Q561.45-88 480.13-88ZM344.27-482.31q32.73 0 56.77-21.31 24.04-21.3 38.5-51.69 4.69-9.38-1.28-19-5.98-9.61-16.76-13-9.88-3.38-19.15 2.69-9.27 6.08-14.97 15.47-6.1 12.72-17.56 22.09-11.46 9.37-25.97 9.37-14.74 0-26.32-9.29-11.57-9.28-18.22-23.4-4.69-9.39-14.85-15.35-10.15-5.96-20.2-2.73-10.95 3.23-15.88 12.88-4.92 9.66-1.23 19.04 14.32 30.53 38.87 52.38 24.55 21.85 58.25 21.85Zm272.3 0q32.74 0 56.78-21.31 24.03-21.3 38.5-51.69 4.69-9.38-1.29-19-5.97-9.61-16.75-13-9.89-3.38-19.16 2.69-9.27 6.08-14.96 15.47-6.1 12.72-17.56 22.09-11.46 9.37-25.98 9.37-14.73 0-26.31-9.29-11.58-9.28-18.22-23.4-4.7-9.39-14.85-15.35-10.15-5.96-20.2-2.73-10.95 3.23-15.88 12.88-4.92 9.66-1.23 19.04 14.31 30.53 38.86 52.38 24.56 21.85 58.25 21.85Z"/></svg>');
  --angry-face: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480.13-88q-81.67 0-152.91-30.84-71.23-30.84-124.36-83.92-53.13-53.08-83.99-124.26Q88-398.19 88-479.87q0-81.67 30.84-153.41 30.84-71.73 83.92-124.86 53.08-53.13 124.26-83.49Q398.19-872 479.87-872q81.67 0 153.41 30.34 71.73 30.34 124.86 83.42 53.13 53.08 83.49 124.76Q872-561.81 872-480.13q0 81.67-30.34 152.91-30.34 71.23-83.42 124.36-53.08 53.13-124.76 83.99Q561.81-88 480.13-88Zm140.18-399.38q22.59 0 38.6-16.02 16.01-16.01 16.01-38.6 0-16.46-8.88-30.15-8.89-13.7-25.66-19.62l20.77-12.15q8.7-4.46 11.31-13.93 2.62-9.46-1.84-18.15-4.47-8.69-15.7-11.69T635-646.23l-87.54 50q-8.69 5.23-11.69 16.69t6.97 28.16q2.72 4.69 8.57 6.3 5.84 1.62 10.54-.84l4.61-3.08q-4.38 25.15 11.77 43.38 16.15 18.24 42.08 18.24Zm-280.62 0q25.93 0 42.08-18.24 16.15-18.23 11.77-43.38l5.38 3.08q4.7 2.46 11.16-1.04t13.18-15.19q4.97-8.7 1.86-19.16-3.12-10.46-11.81-14.92l-90.08-51q-8.69-5.23-19.04-1.73-10.34 3.5-14.81 12.19-4.46 8.69-1.84 19.04 2.61 10.35 11.31 14.81l20.77 11.15q-16.77 5.92-25.66 19.62-8.88 13.69-8.88 30.15 0 22.59 16.01 38.6 16.01 16.02 38.6 16.02ZM480.17-438q-67.17 0-117.36 44.08-50.19 44.07-67.66 109.3h369.7q-17.47-65.23-67.49-109.3Q547.34-438 480.17-438Z"/></svg>');
}

[dir="ltr"] .md-typeset summary:before {
  background-color: var(--md-typeset-color);
  mask-image: var(--calm-face);
  -webkit-mask-image: var(--calm-face);
  top: 0.05rem;
  left: 0;
}

.md-typeset details[open] > summary:before {
  mask-image: var(--angry-face);
  -webkit-mask-image: var(--angry-face);
}

.md-typeset summary:after {
  all: unset;
  content: "Read the poem…";
  float: left;
  margin-right: 0.5em;
}

.md-typeset details[open] > summary:after {
  transform: none;
  content: "Hide the poem!";
}

.md-typeset details:focus-within {
  box-shadow: none;
}

/* Quotations */
span[title], span[aria-describedby], blockquote[title], blockquote[aria-describedby] {
  cursor: help;
}

blockquote {
  width: fit-content;
}

.translation {
  padding-left: .8rem;
  border-left: .2rem solid var(--md-default-fg-color--lighter);
}

.translation p {
  margin: 0;
  font-size: smaller;
}

.translation p:first-child {
  padding-top: .3rem;
}

.translation p:last-child {
  padding-bottom: .2rem;
}

.foreign {
  font-style: italic;
}

/* Responsive */
@media screen and (max-width: 720px) {
  .syllogism {
    margin: 0 0 1rem;
  }

  .paraphrase:before {
    margin-left: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
}