:root {
  --header-height: 4.8rem;
  --md-margin: 0.8rem;
  --md-search-result-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M 19,9.5316034 A 0.75,0.75 0 0 1 18.25,10.281603 H 12 a 0.5,0.5 0 0 0 0,1 h 2.533 l 0.004,0.086 c 0.012,0.317 0.008,0.637 -0.027,0.816 -0.027,0.134 -0.096,0.294 -0.182,0.448 -0.042,0.077 -0.147,0.15 -0.314,0.15 H 12 a 0.5,0.5 0 1 0 0,1 h 1.565 l 0.01,0.106 c 0.024,0.316001 0.01,0.584001 -0.04,0.708001 -0.046,0.118 -0.207,0.3 -0.43,0.486 -0.096,0.081 -0.19,0.15 -0.259,0.2 H 11.5 a 0.50000015,0.50000015 0 0 0 0,1 h 1 v 0.342 a 1,1 0 0 1 -1.1,0.995 l -2.715,-0.271 a 2.5,2.5 0 0 1 -0.991,-0.317 l -2.442,-1.395 A 0.5,0.5 0 0 1 5,15.201604 V 8.8166034 a 0.5,0.5 0 0 1 0.223,-0.416 l 2.15,-1.433 a 1.5,1.5 0 0 1 0.666,-0.243 l 3.105,-0.345 a 0.5,0.5 0 0 1 0.546,0.399 l 0.2,1.003 H 11 a 0.5,0.5 0 0 0 0,1 h 7.25 a 0.75,0.75 0 0 1 0.75,0.75 m -3.466,1.7499996 h 2.716 a 1.75,1.75 0 1 0 0,-3.4999996 h -5.34 l -0.24,-1.2 a 1.5,1.5 0 0 0 -1.636,-1.196 l -3.106,0.345 a 2.5,2.5 0 0 0 -1.11,0.405 l -2.15,1.433 A 1.5,1.5 0 0 0 4,8.8166034 v 6.3850006 a 1.5,1.5 0 0 0 0.756,1.302 l 2.441,1.395 a 3.5,3.5 0 0 0 1.389,0.444 l 2.715,0.271 a 2,2 0 0 0 2.199,-1.99 v -0.581 a 5,5 0 0 0 0.248,-0.195 c 0.229,-0.191 0.568,-0.51 0.716,-0.88 0.146,-0.364 0.132,-0.846 0.108,-1.158001 l -0.012,-0.132 a 1.26,1.26 0 0 0 0.642,-0.56 2.6,2.6 0 0 0 0.288,-0.738 c 0.062,-0.31 0.058,-0.739 0.046,-1.05 z m -2.025,2.094"/></svg>');
  --md-toc-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="m 6.646,3.6461311 a 0.5,0.5 0 0 1 0.708,0 l 6,6 a 0.5,0.5 0 0 1 0,0.7079999 l -6,6 a 0.5006316,0.5006316 0 0 1 -0.708,-0.708 l 5.647,-5.646 -5.647,-5.6459999 a 0.5,0.5 0 0 1 0,-0.708"/></svg>');
  --md-nav-icon--prev: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="m 13.354,3.6461311 a 0.5,0.5 0 0 0 -0.708,0 l -6.0000001,6 a 0.5,0.5 0 0 0 0,0.7079999 l 6.0000001,6 a 0.5006316,0.5006316 0 0 0 0.708,-0.708 L 7.7069999,10.000131 13.354,4.3541311 a 0.5,0.5 0 0 0 0,-0.708"/></svg>');
  --md-quote-right-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m9.48,4.3c1.06-1.65,3.25-2.12,4.89-1.07,1.02.65,1.63,1.79,1.63,3,0,1.96-1.59,3.54-3.55,3.54-.67,0-1.33-.19-1.9-.55.28.83.8,1.71,1.65,2.59.34.35.33.91-.02,1.25-.35.34-.91.33-1.25-.02-3.16-3.28-2.75-6.84-1.45-8.75h0ZM.97,4.3c1.06-1.65,3.25-2.12,4.89-1.07,1.02.65,1.63,1.79,1.63,3,0,1.96-1.59,3.54-3.55,3.54-.67,0-1.33-.19-1.9-.55.28.83.8,1.71,1.65,2.59.34.35.33.91-.02,1.25s-.91.33-1.25-.02C-.74,9.78-.33,6.22.97,4.31h0Z"/></svg>');
  --md-quote-left-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m6.52,4.3c-1.06-1.65-3.25-2.12-4.89-1.07C.61,3.89,0,5.02,0,6.23c0,1.96,1.59,3.54,3.55,3.54.67,0,1.33-.19,1.9-.55-.28.83-.8,1.71-1.65,2.59-.34.35-.33.91.02,1.25.35.34.91.33,1.25-.02,3.16-3.28,2.75-6.84,1.45-8.75h0Zm8.51,0c-1.06-1.65-3.25-2.12-4.89-1.07-1.02.65-1.63,1.79-1.63,3,0,1.96,1.59,3.54,3.55,3.54.67,0,1.33-.19,1.9-.55-.28.83-.8,1.71-1.65,2.59-.34.35-.33.91.02,1.25s.91.33,1.25-.02c3.16-3.28,2.75-6.84,1.45-8.75h0Z"/></svg>');
  --head-gap: max(8em, 16vw);
}

body {
  --md-serif-font-family: "Source Serif 4", "Georgia", "Noto Serif", "Times New Roman", serif;
}


/* Anchor links */
.md-typeset :target > .headerlink, .shown > .headerlink {
  color: var(--md-secondary-fg-color);
  opacity: 1;
}

.md-typeset .headerlink:focus, .md-typeset .headerlink:active, .md-typeset .headerlink:hover {
  color: var(--md-secondary-fg-color--hover);
}

.headerlink {
  transition: color .25s ease,opacity 0.8s ease !important;
  font-family: "Noto Serif", serif;
}

/* Dynamic span highlight */
.highlight {
  position: relative;
  background-image: linear-gradient(to right, transparent 50%, var(--md-accent-fg-color--transparent) 50%);
  background-origin: 0;
  background-size: 200% 100%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.8s ease-out;
}

.highlight.shown {
  background-position: -100% 100%;
}

/* Fonts */
@media (min-width: 1220px) {
  .md-nav--primary > .md-nav__list > .md-nav__item--active > a {
    color: currentColor;
    font-weight: 700;
  }
}

.md-header__topic, .md-nav__title:not([for="__toc"]), h1, h2, h3 {
  font-family: var(--md-serif-font-family);
}

.small {
  font-variant-caps: small-caps;
  font-size: 0.7rem;
}

/* Hide logo */
.md-header__title {
  margin-left: .6rem !important;
}

.md-logo {
  display: none !important;
}

/* Navbar icons */
.md-tabs__link svg {
  display: none;
}

.md-nav__link {
  align-items: center;
}

.md-nav__link svg {
  margin-bottom: 0.3rem;
}

/* Highlight icons in drawer */
@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__item--active svg, .md-nav--primary .md-nav__item--active .md-nav__icon {
    color: var(--md-accent-fg-color);
  }

}

/* Navbar transition */
.md-header {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: var(--md-default-bg-color);
  box-shadow: none;
}

.md-tabs {
  background-color: transparent;
  transition: inherit;
}

.scrolled {
  background-color: var(--md-primary-fg-color);
  box-shadow: 0 0 .2rem #0000001a,0 .2rem .4rem #0003;
}

.md-tabs__item--active .md-tabs__link {
  font-weight: 550;
  letter-spacing: -0.01rem;
}

.md-tabs__item::before {
    content: attr(name);
    font-size: .7rem;
    font-weight: 550;
    visibility: hidden;
    display: block;
    height: 0;
    overflow: hidden;
}

/* Capitalize title */
.md-header__topic:first-child, .md-nav__title:not([for="__toc"]) {
  text-transform: uppercase;
}

/* Search bar customization */
@media screen and (min-width: 60em) {
  .md-search__form {
    border-radius: 1rem;
  }

  label.md-search__icon {
    transform: scale(0.85);
  }
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__form {
  border-radius: 1rem 1rem 0 0;
}

[dir="ltr"] .md-search__output {
  border-radius: 0 0 1rem 1rem;
}

/* Footer */
.md-footer {
  background-color: var(--md-secondary-fg-color);
}

.md-footer__button {
  margin-bottom: 0.4rem;
}

/* Buttons */
.md-button {
  border-radius: 2rem !important;
  white-space: nowrap;
  border-width: 1px !important;
  user-select: none; /* Text inside the button is not selectable */
  transition: all .25s;
}

.md-typeset .md-button:active {
  color: var(--md-accent-bg-color);
}

.md-typeset .md-button:hover, .md-typeset .md-button:active, .md-typeset .md-button:focus {
  background-color: var(--md-secondary-fg-color);
  border-color: var(--md-secondary-fg-color);
}

/* Cards */
.md-typeset .grid {
  column-gap: 5vw;
  width: 100%;
}

.md-typeset .grid.cards > ol > li, .md-typeset .grid.cards > ul > li, .card {
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}

/* Images */
.md-typeset figure {
  width: 100%;
}

.md-typeset figure img {
  max-height: 75vh;
  width: 100%;
}

.md-typeset figure > :first-child {
  background-color: var(--md-accent-fg-color--transparent);
}

.md-typeset figcaption {
  max-width: unset;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 0.64rem;
  letter-spacing: 0.1px;
}

.md-typeset figure > p {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  padding: 0.5rem;
}

/* Icons */
[data-md-color-scheme=default] {
  .only-dark {
    display: none;
  }
}

[data-md-color-scheme=slate] {
  .only-light {
    display: none;
  }
}

/* Quotes */
[dir="ltr"] .md-typeset blockquote {
  padding-left: 0.8rem;
}

.md-typeset mark {
  background-color: unset;
}

.md-typeset blockquote mark {
  display: block;
  padding: 0.4rem 0;
  font-size: 0.64rem;
  letter-spacing: 0.1px;
  color: var(--md-default-fg-color);
}

/* Responsive */
@media (max-width: 1220px) {
  :root {
    --header-height: 48px;
  }

  .md-nav__link {
    gap: 0.7rem;
  }

  .md-typeset figure {
    width: 100vw;
    max-width: unset;
    margin-right: calc(0px - var(--md-margin));
    margin-left: calc(0px - var(--md-margin));
  }

  .md-typeset figcaption {
    margin: var(--md-margin);
  }
}

/* Footnotes */
html .md-typeset .footnote-ref {
  font-size: unset;
  outline-offset: unset;
  font-weight: 500;
}

[dir="ltr"] .md-typeset sup[id^="fnref"] {
  margin-left: unset;
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
}

.footnote-ref:before, .footnote-ref:after {
  color: var(--md-default-fg-color);
}

.footnote-ref:before {
  content: "[";
}

.footnote-ref:after {
  content: "]";
}

